{
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
    },
    "rules": {
        "indent": ["error", 4],
        "node/no-deprecated-api": "warn"
    },
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "plugins": [
        "node"
    ]
}
